# Listmonk Configuration
# URL-ul serverului Listmonk
PUBLIC_LISTMONK_URL=https://sub.dalab.top

# Optional: dacă folosești autentificare pentru API
# LISTMONK_API_USER=admin
# LISTMONK_API_PASSWORD=password
