---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <title>Dart Studio</title>
    <meta name="title" content="Dart Studio" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:image" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="author" content="" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/astro_dart/assets/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/astro_dart/assets/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/astro_dart/assets/images/favicon/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/astro_dart/assets/images/favicon/site.webmanifest"
    />
    <link
      rel="mask-icon"
      href="/astro_dart/assets/images/favicon/safari-pinned-tab.svg"
      color="#0060ff"
    />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="application-name" content="" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta
      name="msapplication-TileImage"
      content="/astro_dart/assets/images/favicon/mstile-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Dart Studio" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta property="twitter:title" content="Dart Studio" />
    <meta property="twitter:description" content="" />
    <meta property="twitter:image" content="" />

    <link rel="stylesheet" href="/astro_dart/assets/styles/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page">
      <div class="header" data-component='{"component": "header"}'>
        <div class="header__logo">
          <a href="./">
            <img class="" src="/astro_dart/assets/images/logo.svg" alt="" />
          </a>
        </div>
        <nav class="header__menu">
          <div class="header__menu__item">
            <a class="hover-slide hover-slide--nano" href="./about.html"
              >About</a
            >
          </div>

          <div class="header__menu__item">
            <a class="hover-slide hover-slide--nano" href="services.html"
              >Services</a
            >
          </div>

          <div class="header__menu__item">
            <a class="hover-slide hover-slide--nano" href="./work.html">Work</a>
          </div>

          <div class="header__menu__item">
            <a class="hover-slide hover-slide--nano" href="./careers.html"
              >Careers</a
            >
          </div>

          <div class="header__menu__item">
            <a class="hover-slide hover-slide--nano" href="./contact.html"
              >Contact</a
            >
          </div>
        </nav>
      </div>

      <div class="content-hero container mx-auto">
        <div class="content-hero__inner">
          <div class="content-hero__super">Services</div>

          <div class="content-hero__title">What we do</div>

          <div class="content-hero__description">
            Our goals consists of helping your business to either reach a bigger
            audience, accelerate growth or just build a strong foundation.
          </div>
        </div>
      </div>

      <!-- Creative Design -->
      <div class="service-block container mx-auto">
        <div class="service-block__title h1 font-bold">Creative Design</div>
        <div class="service-block__demo">
          <div class="work work-5">
            <div class="work__image">
              <a href="#">
                <img
                  class="lazyload"
                  data-sizes="auto"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkZlD/DwABYwErWwRBvQAAAABJRU5ErkJggg=="
                  data-src="https://source.unsplash.com/random"
                  alt=""
                />
              </a>
            </div>
            <div class="work__title">
              <a href="#">
                <span>Project Title</span>

                <div class="icon">
                  <i class="bx bx-link"></i>
                </div>
              </a>
            </div>
          </div>

          <div class="work work-7">
            <div class="work__image">
              <a href="#">
                <img
                  class="lazyload"
                  data-sizes="auto"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkZlD/DwABYwErWwRBvQAAAABJRU5ErkJggg=="
                  data-src="https://source.unsplash.com/random"
                  alt=""
                />
              </a>
            </div>
            <div class="work__title">
              <a href="#">
                <span>Project Title</span>

                <div class="icon">
                  <i class="bx bx-link"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="service-block__content">
          <div class="service-block__content__inner">
            <div class="service-block__content__description">
              At Dart, we're all about creating stunning design and development
              solutions that leave a lasting impact. We know every business has
              its own set of goals and hurdles, and we're excited to help bring
              your vision to life. In our friendly and open atmosphere, we team
              up with you to go above and beyond, ensuring we not only meet but
              exceed your expectations. <br />
              <br /> In today's digital world, your online presence is crucial. That's
              why we're dedicated to crafting interfaces that are not just easy on
              the eyes but also optimized for performance and ready to grow with
              your business. <br />
              <br /> Let's work together to build unique experiences that not only
              elevate your brand but also bring you tangible results.
            </div>
            <div class="service-block__content__list">
              <div>Brand Design</div>

              <div>Design Systems</div>

              <div>Web Design</div>

              <div>UI & UX Design</div>

              <div>Logo Design</div>

              <div>Packaging Design</div>

              <div>Digital Design</div>

              <div>Wireframes & Prototyping</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Digital Experiences -->
      <div class="service-block container mx-auto">
        <div class="service-block__title h1 font-bold">Digital Experiences</div>
        <div class="service-block__demo">
          <div class="work work-5">
            <div class="work__image">
              <a href="#">
                <img
                  class="lazyload"
                  data-sizes="auto"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkZlD/DwABYwErWwRBvQAAAABJRU5ErkJggg=="
                  data-src="https://source.unsplash.com/random"
                  alt=""
                />
              </a>
            </div>
            <div class="work__title">
              <a href="#">
                <span>Project Title</span>

                <div class="icon">
                  <i class="bx bx-link"></i>
                </div>
              </a>
            </div>
          </div>

          <div class="work work-7">
            <div class="work__image">
              <a href="#">
                <img
                  class="lazyload"
                  data-sizes="auto"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkZlD/DwABYwErWwRBvQAAAABJRU5ErkJggg=="
                  data-src="https://source.unsplash.com/random"
                  alt=""
                />
              </a>
            </div>
            <div class="work__title">
              <a href="#">
                <span>Project Title</span>

                <div class="icon">
                  <i class="bx bx-link"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="service-block__content">
          <div class="service-block__content__inner">
            <div class="service-block__content__description">
              At Dart, we're all about creating stunning design and development
              solutions that leave a lasting impact. We know every business has
              its own set of goals and hurdles, and we're excited to help bring
              your vision to life. In our friendly and open atmosphere, we team
              up with you to go above and beyond, ensuring we not only meet but
              exceed your expectations. <br />
              <br /> In today's digital world, your online presence is crucial. That's
              why we're dedicated to crafting interfaces that are not just easy on
              the eyes but also optimized for performance and ready to grow with
              your business. <br />
              <br /> Let's work together to build unique experiences that not only
              elevate your brand but also bring you tangible results.
            </div>
            <div class="service-block__content__list">
              <div>CMS Implementation</div>

              <div>Web Development</div>

              <div>E-Commerce</div>

              <div>WordPress Development</div>

              <div>Full-Stack Development</div>

              <div>Drupal Development</div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer__inner container mx-auto">
          <div class="footer__upper">
            <div class="footer__cta">
              <div
                data-component='{"component": "catchphrase"}'
                data-array="Have a project in mind?,Sounds good?,Want something similar?,Anything caught your eye?,Interested to collaborate?,Interested in working with us?,Ready to start a project?,If you're excited — we're excited."
              >
              </div>
              Let's <a class="hover-slide" href="mailto:">get in touch!</a>
            </div>
            <nav class="footer__menu">
              <span><a class="hover-slide" href="#" target="">Home</a></span>

              <span
                ><a class="hover-slide" href="./about.html" target="">About</a
                ></span
              >

              <span
                ><a class="hover-slide" href="services.html" target=""
                  >Services</a
                ></span
              >

              <span
                ><a class="hover-slide" href="./work.html" target="">Work</a
                ></span
              >

              <span
                ><a class="hover-slide" href="./contact.html" target=""
                  >Contact</a
                ></span
              >

              <span
                ><a class="hover-slide" href="./careers.html" target=""
                  >Careers</a
                ></span
              >
            </nav>
          </div>
          <div class="footer__lower">
            <div class="flex">
              <span>&copy; Dart Studio 2024</span>
              <nav>
                <a href="/astro_dart/privacy" target="">Privacy Policy</a>

                <a href="#" target="">Sitemap</a>

                <a href="/astro_dart/accessibility" target="">Accessibility</a>
              </nav>
            </div>
            <nav>
              <a href="#" target="">Facebook</a>

              <a href="#" target="">X (formerly known as Twitter)</a>

              <a href="" target="">LinkedIn</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="/astro_dart/assets/scripts/main.js"></script>
  </body>
</html>
