---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="hero container mx-auto">
    <div class="hero__title">
      <h1 class="hero__title__display font-semibold">Work</h1>
    </div>
  </div>
</BaseLayout>
