---
import { Image } from "astro:assets";
import logo from "../images/logo.svg";
import "../styles/style.css";
import { jsScripts } from "../scripts/main.js";
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <title>Dart Studio</title>
    <meta name="title" content="Dart Studio" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:image" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="author" content="" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../images/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../images/favicon/safari-pinned-tab.svg"
      color="#0060ff"
    />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="application-name" content="" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta
      name="msapplication-TileImage"
      content="../images/favicon/mstile-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Dart Studio" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta property="twitter:title" content="Dart Studio" />
    <meta property="twitter:description" content="" />
    <meta property="twitter:image" content="" />

    <link rel="stylesheet" href="../styles/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page">
      <div class="header" data-component='{"component": "header"}'>
        <div class="header__logo">
          <a href="./">
            <Image src={logo} alt="Logo DART" />
          </a>
        </div>
        <nav class="header__menu">
          <div class="header__menu__item">
            <a class="hover-slide hover-slide--nano" href="../about"> About </a>
          </div>

          <div class="header__menu__item">
            <a class="hover-slide hover-slide--nano" href="../services">
              Services
            </a>
          </div>

          <div class="header__menu__item">
            <a class="hover-slide hover-slide--nano" href="../work">Work</a>
          </div>

          <div class="header__menu__item">
            <a class="hover-slide hover-slide--nano" href="../careers"
              >Careers</a
            >
          </div>

          <div class="header__menu__item">
            <a class="hover-slide hover-slide--nano" href="../contact"
              >Contact</a
            >
          </div>
        </nav>
      </div>
      <slot />
      <div class="footer">
        <div class="footer__inner container mx-auto">
          <div class="footer__upper">
            <div class="footer__cta">
              <div
                data-component='{"component": "catchphrase"}'
                data-array="Have a project in mind?,Sounds good?,Want something similar?,Anything caught your eye?,Interested to collaborate?,Interested in working with us?,Ready to start a project?,If you're excited — we're excited."
              >
              </div>
              Let's <a class="hover-slide" href="mailto:">get in touch!</a>
            </div>
            <nav class="footer__menu">
              <span><a class="hover-slide" href="#" target="">Home</a></span>

              <span
                ><a class="hover-slide" href="/about" target="">About</a></span
              >

              <span
                ><a class="hover-slide" href="/services" target="">Services</a
                ></span
              >

              <span><a class="hover-slide" href="/work" target="">Work</a></span
              >

              <span
                ><a class="hover-slide" href="/contact" target="">Contact</a
                ></span
              >

              <span
                ><a class="hover-slide" href="/careers" target="">Careers</a
                ></span
              >
            </nav>
          </div>
          <!-- <slot /> -->
          <div class="footer__lower">
            <div class="flex">
              <span>&copy; Dart Studio 2024</span>
              <nav>
                <a href="/privacy" target="">Privacy Policy</a>

                <a href="#" target="">Sitemap</a>

                <a href="/accessibility" target="">Accessibility</a>
              </nav>
            </div>
            <nav>
              <a href="#" target="">Facebook</a>

              <a href="#" target="">X (formerly known as Twitter)</a>

              <a href="#" target="">LinkedIn</a>
            </nav>
          </div>
        </div>
      </div>
      <script type="module" src="/assets/scripts/main.js"></script>
    </div>
  </body>
</html>
