<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"/>
    <title>Dart Studio</title>
    <meta name="title" content="Dart Studio"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta property="og:image" content=""/>
    <meta name="robots" content="index, follow"/>
    <meta name="language" content="English"/>
    <meta
    name="author" content=""/>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="assets/images/favicon/site.webmanifest"/>
    <link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#0060ff"/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <meta name="application-name" content=""/>
    <meta name="msapplication-TileColor" content="#2d89ef"/>
    <meta name="msapplication-TileImage" content="assets/images/favicon/mstile-144x144.png"/>
    <meta
    name="theme-color" content="#ffffff"/>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:title" content="Dart Studio"/>
    <meta property="og:description" content=""/>
    <meta
    property="og:image" content=""/>
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content=""/>
    <meta property="twitter:title" content="Dart Studio"/>
    <meta property="twitter:description" content=""/>
    <meta property="twitter:image" content=""/>

    <link rel="stylesheet" href="assets/styles/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
	<body>
        <slot />
        <script type="module" src="assets/scripts/main.js"></script>
	</body>
</html>
